@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.instagram-icon {
  background-image: linear-gradient(
    45deg,
    #ffd522 0%,
    #f1000b 49.74%,
    #b900b3 100%
  );
  background-clip: text;
  text-fill-color: transparent;
}

.text-nlc {
  color: #ffcd46;
}

.text-npc {
  color: #ed5565;
}

.text-nst {
  color: #85d4be;
}

.text-reeva {
  color: #2e97ee;
}

.bg-nlc {
  background-color: #ffcd46;
}

.bg-npc {
  background-color: #ed5565;
}

.bg-nst {
  background-color: #85d4be;
}

.bg-reeva {
  background-color: #2e97ee;
}

.silver-gradient-bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #231f20 100%);
}

.text-border-thinner {
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: black;
}

.text-border-thin {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.bg-nlc-home {
  background: linear-gradient(180deg, #ffdb7a 0%, #ffffcc 100%);
}

.bg-npc-home {
  background: linear-gradient(180deg, #ed5565 0%, #f8c5ca 100%);
}

.bg-reeva-home {
  background: linear-gradient(180deg, #2e97ee 0%, #ace6ff 100%);
}

.bg-nst-home {
  background: linear-gradient(180deg, #96dfd8 0%, #c3dde0 100%);
}

.text-nlc-home-top {
  background: linear-gradient(0deg, #646403 0%, rgba(30, 30, 24, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-schemastore-shadow {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 105.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  transform: matrix(1, 0, 0, -1, 0, 0);
}

.text-nlc-home-bottom {
  background: linear-gradient(180deg, #aeae7c 0%, rgba(30, 30, 24, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-npc-home {
  background: linear-gradient(180deg, #ff9f97 0%, #f8c5ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-reeva-home {
  background: linear-gradient(180deg, #b9dfff 0%, #ace6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-nst-home {
  background: linear-gradient(180deg, #4b544f 0%, #21ee8b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.home-main-title {
  background-color: white;
  background-image: linear-gradient(
    95.25deg,
    #ed5565 0.84%,
    #ffdb7a 22.7%,
    #aee6cb 52.38%,
    #3c8aca 98.02%
  );
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.home-btn-bg {
  background: linear-gradient(
    90.82deg,
    #ed5565 0%,
    #ffcd46 43.02%,
    #85d4be 70.62%,
    #2e97ee 100%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;
